
@import '../base/colores';

/*--------------------------------------------------------------
  # Sobre Mí 
  --------------------------------------------------------------*/

  .sobre__mi {
	background-color: #fff;
	padding: 30px;
	background: $rojo2;
	background: -webkit-linear-gradient(to bottom, #190A05, $rojo2);
	background: linear-gradient(to bottom, #190A05, $rojo2);
	.titulo {
		color: #fff;
		font-style: italic;
		font-size: 45px;
	}
}
.sobre__mi__container {
	display: flex;
	justify-content: space-evenly;
	img {
		width: 25%;
		padding: 5px;
		margin-bottom: 5px;
		object-fit: cover;
	}
	.textos__container {
		h3 {
			color: #fff;
			font-size: 30px;
		}
		.lead {
			color: #fff;
			margin: 25px;
		}
	}
}
.lead {
	color: $rojo4;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-style: italic;
	letter-spacing: 0,5px;
}

